@charset "UTF-8";

h1, h2, h3, h4 {
font-family: 'Roboto Mono', monospace;
}

h1 {
  font-weight: bold;
}

nav {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #9a8c98;
}

#menu ul li a {
  color: white;
  padding-top: 1em;
}

#menu ul li a:hover {
  color: #4a4e69;
}

#rule {
  background-color: #4a4e69;
  padding-top: 5em;
  padding-bottom: 5em;
}

#rule-content {
  color: #9a8c98;
}

#storiesMenu {
  padding-top: 5em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgb(34, 34, 59);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #9a8c98;
  margin: auto;
  padding: 0;
  border: 1px solid #22223b;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #4a4e69;
  color: #9a8c98;
  border-color: #9a8c98
}

.modal-body {
  padding: 2px 16px;
}

.transparent-input {
  background-color: #9a8c98;
  border: white;
  color: white;
}

input::-webkit-input-placeholder {
  color: white !important;
}

.button-center {
  margin-left: auto;
  margin-right: auto;
}
